	@import url('https://fonts.googleapis.com/css?family=Arvo|Work+Sans');

body {
	color: #1B31FF; 
	font-size: 35px; 
	font-weight: 100;
	padding-left: 20px; padding-top: 20px;
	font-family: 'Arvo', serif, Helvetica;
	font-family: 'Work Sans', sans-serif, Helvetica;
}

h1 {
	text-transform: uppercase; 
	color: #FF2200; 
	font-size: 14px; 
	font-family: 'Arvo', serif, Helvetica;
	font-family: 'Work Sans', sans-serif, Helvetica; 
	font-weight: 900; 
	letter-spacing: 5px;
}

ul {
    text-align: left;
    list-style-type: none;
}

li { 
	text-decoration: none; 
}

img {
	height: 200px; 
}

a {
	text-decoration: none;
}

#slogan {
	font-style: italic;  
}

